@import '../../utils/variables.scss';
$c-width: 334px;
$c-height: 334px;
$c-width-xs: 260px;
$c-height-xs: 260px;

$block-height: 496px;
$block-height-xs: 441px;
$round-btn-size: 34px;
$border: #ecf0f4;
$transition: background-color 0.2s ease-in;
%border {
  border: 1px solid $border;
  border-radius: 5px;
}

%reset-default-btn-style {
  padding: 0;
  border: none;
  color: inherit;
  cursor: pointer;
  background-color: inherit;
}

%transition-hover {
  background-color: rgba($color: #000000, $alpha: 0.2);
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  padding-left: 0;
  margin: 0;
  list-style: none;
  position: relative;
  transition: margin-left 0.5s ease-in-out;
}

.cards_display_none {
  display: none;
}

@media (max-width: 1810px) {
  .cards {
    width: 1048px;
  }
}

@media (max-width: $screen-xxl) {
  .cards {
    width: 830px;
  }
}

.cards__slider {
  max-width: 1404px;
  position: relative;
  overflow: hidden;
}

.cards__slider-btn {
  position: absolute;
  cursor: pointer;
  z-index: 2;
  width: 40px;
  height: 40px;
  top: 268px;
  left: -86px;
  transition: $transition;
  @extend %border;
  background-color: #fff;
  background-image: url('../../images/vector-left.png');
  background-position: center;
  background-repeat: no-repeat;
}

.cards__slider-btn:hover {
  @extend %transition-hover;
}

.cards__slider-btn_right {
  background-image: url('../../images/vector-right.png');
  left: calc(100% + 46px);
}

.card {
  @extend %border;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  height: $block-height;
  width: $c-width;
  margin-right: 20px;
  position: relative;

  &__image {
    width: $c-width;
    height: $c-height;
    background-image: url('../../images/bg-default.png');
    background-position: center
  }

  &__btn {
    @extend %reset-default-btn-style;
    position: absolute;
    left: 280px;
    background-color: #fff;
    width: $round-btn-size;
    height: $round-btn-size;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    transition: $transition;
  }

  &__btn:hover {
    @extend %transition-hover;
  }

  &__btn_type_like {
    background-image: url('../../images/like.png');
    top: 20px;
  }

  &__btn_type_like-active {
    background-color: rgba($color: #000000, $alpha: 0.4);
  }

  &__btn_type_compare {
    background-image: url('../../images/compare.png');
    top: 59px;
  }

  &__sticker {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
  }

  &__sticker_active {
    display: block;
  }

  &__btn_type_compare-active {
    background-color: rgba($color: #000000, $alpha: 0.5);
  }

  &__caption {
    max-width: 282px;
    text-align: center;
    margin: 0 auto 10px auto;
  }

  &__title {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 400;
    margin: 10px auto 5px auto;
    min-height: 40px;
  }

  &__price {
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
    margin: 0;
  }

  &__price-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
  }

  &__price_old {
    margin: 0 0 0 10px;
    text-decoration: line-through;
    color: #8D9295;
    font-size: 14px;
    line-height: 22px;
    font-size: 400;
  }

  &__price_old_hidden {
    display: none;
  }

  &__main-btns {
    align-self: center;
    display: flex;
    flex-direction: row;
  }

  &__count-container {
    @extend %border;
    width: 100px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__count-btn {
    @extend %reset-default-btn-style;
    width: 30px;
    height: 30px;
    background-image: url('../../images/min.png');
    background-position: center;
    background-repeat: no-repeat;
  }

  &__count-btn_plus {
    background-image: url('../../images/plus.png');
  }

  &__count-btn__num {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
  }

  &__basket {
    @extend %reset-default-btn-style;
    width: 174px;
    height: 50px;
    background-color: #f1d264;
    margin-left: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__basket-img {
    background-image: url('../../images/basket.png');
    width: 20px;
    height: 20px;
  }

  &__basket-name {
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    margin-left: 12px;
  }
}

.card:last-child {
  margin-right: 0;
}

@media (max-width: $screen-xxl) {

  .cards__slider-btn {
    left: -56px;
  }

  .cards__slider-btn_right {
    left: calc(100% + 16px);
  }

  .card {
    width: $c-width-xs;
    height: $block-height-xs;

    &__btn {
      left: 213px;
    }

    &__image {
      width: $c-width-xs;
      height: $c-height-xs;
    }

    &__basket {
      width: 220px;      
      margin: 0 auto;
    }

    &__count-container {
      display: none;
    }

    &__caption{
      max-width: 220px;
      margin-bottom: 20px;
    }

    &__title {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 15px;
    }
  }
}

@media (max-width: $screen-sm) and (min-width: $screen-xs) {
  .cards__slider-btn {
    display: none;
  } 
}